# Question 1:
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.

In [5]:
l = [x for x in range(2000,3200+1) if x%7==0 and x%5!=5]
print(l,end=" ")

[2002, 2009, 2016, 2023, 2030, 2037, 2044, 2051, 2058, 2065, 2072, 2079, 2086, 2093, 2100, 2107, 2114, 2121, 2128, 2135, 2142, 2149, 2156, 2163, 2170, 2177, 2184, 2191, 2198, 2205, 2212, 2219, 2226, 2233, 2240, 2247, 2254, 2261, 2268, 2275, 2282, 2289, 2296, 2303, 2310, 2317, 2324, 2331, 2338, 2345, 2352, 2359, 2366, 2373, 2380, 2387, 2394, 2401, 2408, 2415, 2422, 2429, 2436, 2443, 2450, 2457, 2464, 2471, 2478, 2485, 2492, 2499, 2506, 2513, 2520, 2527, 2534, 2541, 2548, 2555, 2562, 2569, 2576, 2583, 2590, 2597, 2604, 2611, 2618, 2625, 2632, 2639, 2646, 2653, 2660, 2667, 2674, 2681, 2688, 2695, 2702, 2709, 2716, 2723, 2730, 2737, 2744, 2751, 2758, 2765, 2772, 2779, 2786, 2793, 2800, 2807, 2814, 2821, 2828, 2835, 2842, 2849, 2856, 2863, 2870, 2877, 2884, 2891, 2898, 2905, 2912, 2919, 2926, 2933, 2940, 2947, 2954, 2961, 2968, 2975, 2982, 2989, 2996, 3003, 3010, 3017, 3024, 3031, 3038, 3045, 3052, 3059, 3066, 3073, 3080, 3087, 3094, 3101, 3108, 3115, 3122, 3129, 3136, 3143, 3150, 3157, 3164, 3171, 3178, 3185, 3192, 3199]

# Question 2:
Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

In [1]:
num = input("Enter the number(s): ")
num = num.split(" ")
for x in num:
    x = int(x)
    if x==0:
        print(1,end=",")
    else:
        for y in range(1,x):
            x *=y
        print(x,end=",")

Enter the number(s): 0 1 2 8
1,1,2,40320,

# Question 3:
With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [5]:
num = int(input("number: "))
dictionary = {x:x*x for x in range(num+1)}
dictionary

number: 8

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

# Question 4:
Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98
Then, the output should be:
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

In [9]:
inp = input("enter the numbers: ")
l = inp.split(",")
t = tuple(l)
print(l)
print(t)

enter the numbers: 34,67,55,33,12,98
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

# Question 5:
Define a class which has at least two methods:
getString: to get a string from console input
printString: to print the string in upper case.
Also please include simple test function to test the class methods.

# Question 6:
Write a program that calculates and prints the value according to the given formula:
Q = Square root of  \[(2 \* C \* D)/H\]
Following are the fixed values of C and H:
C is 50. H is 30.
D is the variable whose values should be input to your program in a comma-separated sequence.
Example
Let us assume the following comma separated input sequence is given to the program:
100,150,180
The output of the program should be:
18,22,24

In [10]:
import math
i = input("enter: ")
c = 50
h = 30
print(",".join([str(round(math.sqrt((2*c*float(x))/h))) for x in i.split(",")]))

enter: 100,150,180
18,22,24

# Question 7:
Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
Note: i=0,1.., X-1; j=0,1,...,Y-1.
Example
Suppose the following inputs are given to the program:
3,5
Then, the output of the program should be:
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [12]:
x = int(input("enter x: "))
y = int(input("enter y: "))
l = [[q*w for w in range(y)] for q in range(x)]
print(l)

enter x: 3
enter y: 5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

# Question 8:
Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.
Suppose the following input is supplied to the program:
without,hello,bag,world
Then, the output should be:
bag,hello,without,world

In [20]:
i = input("enter: ").split(",")
i.sort()
print(i)

enter: without,hello,bag,world
['bag', 'hello', 'without', 'world']

# Question 9:
Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.
Suppose the following input is supplied to the program:
Hello world
Practice makes perfect
Then, the output should be:
HELLO WORLD
PRACTICE MAKES PERFECT

In [25]:
i=""
while True:
    hold = input()
    if hold:
        i+=hold.upper()+"\n"
    else: break
print(i)

hello world
practice makes perfect

HELLO WORLD
PRACTICE MAKES PERFECT

# Question 10:
Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
Suppose the following input is supplied to the program:
hello world and practice makes perfect and hello world again
Then, the output should be:
again and hello makes perfect practice world

In [7]:
i = input()
l = []
for x in i.split():
    if x not in l:
        l.append(x)

#l = [x for x in i.split() if x not in ]
#print(l)
l.sort()
print(" ".join(l))

hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

# Question 11:
Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.
Example:
0100,0011,1010,1001
Then the output should be:
1010
Notes: Assume the data is input by console.

In [8]:
i = input()
l = [x for x in i.split(",") if int(x,2)%5==0]
print(",".join(l))

0100,0011,1010,1001
1010

# Question 12:
Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.
The numbers obtained should be printed in a comma-separated sequence on a single line.

In [33]:
num = [x for x in range(1000,3000+1) if int((x/1000))%2==0 if int(((x%1000)/100))%2==0 if int(((x%100)/10))%2==0 if (x%10)%2==0]
print(",".join(map(str,num)))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

# Question 13:
Write a program that accepts a sentence and calculate the number of letters and digits.
Suppose the following input is supplied to the program:
hello world! 123
Then, the output should be:
LETTERS 10
DIGITS 3

In [35]:
i = input()
letter = 0
digit = 0
for x in i:
    if x.isalpha():
        letter+=1
    elif x.isdigit():
        digit+=1
print("LETTER",letter,"DIGITS",digit)

hello world! 123
LETTER 10 DIGITS 3

# Question 14:
Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.
Suppose the following input is supplied to the program:
Hello world!
Then, the output should be:
UPPER CASE 1
LOWER CASE 9

In [37]:
i = input()
upper = 0
lower = 0
for x in i:
    if x.isupper():
        upper+=1
    elif x.islower():
        lower+=1
print("upper",upper,"lower",lower)

Hello world!
upper 1 lower 9

# Question 15:
Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.
Suppose the following input is supplied to the program:
9
Then, the output should be:
11106

In [53]:
i = input()
l = []
for x in range(1,4+1):
    temp=""
    for y in range(x):
        temp+=str(i)
    l.append(int(temp))
print(sum(l))

9
11106

# Question 16:
Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers.
Suppose the following input is supplied to the program:
1,2,3,4,5,6,7,8,9
Then, the output should be:
1,3,5,7,9

In [56]:
i = input()
l = [x for x in i.split(",") if int(x)%2!=0]
print (",".join(l))

1,2,3,4,5,6,7,8,9
1,3,5,7,9

# Question 17:
Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following:
D 100
W 200
¡­
D means deposit while W means withdrawal.
Suppose the following input is supplied to the program:
D 300
D 300
W 200
D 100
Then, the output should be:
500

In [59]:
i = []
total = 0
while True:
    temp = input()
    if temp=="":
        break
    elif temp[0].lower()=="d":
        total+=int(temp[2:])
    elif temp[0].lower()=="w":
        total-=int(temp[2:])
print(total)

D 300
D 300
W 200
d 100

500

# Question 18:
A website requires the users to input username and password to register. Write a program to check the validity of password input by users.
Following are the criteria for checking the password:
1. At least 1 letter between [a-z]
2. At least 1 number between [0-9]
1. At least 1 letter between [A-Z]
3. At least 1 character from [$#@]
4. Minimum length of transaction password: 6
5. Maximum length of transaction password: 12
Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma.
Example
If the following passwords are given as input to the program:
ABd1234@1,a F1#,2w3E*,2We3345
Then, the output of the program should be:
ABd1234@1

In [69]:
i = input()
l = []
atoz = None
num = None
AtoZ = None
special_char = None

for x in i.split(","):
    if len(x)<6 or len(x)>12 :
        break
    else:
        for y in x:
            if y.isupper():
                AtoZ=True
            elif y.islower():
                atoz=True
            elif y.isdigit():
                num=True
            elif y=="$" or y=="#" or y=="@":
                special_char = True
    l.append(x)
print(",".join(l))

ABd1234@1,a F1#,2w3E*,2We3345
ABd1234@1

# Question 19:
You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is:
1: Sort based on name;
2: Then sort based on age;
3: Then sort by score.
The priority is that name > age > score.
If the following tuples are given as input to the program:
Tom,19,80
John,20,90
Jony,17,91
Jony,17,93
Json,21,85
Then, the output of the program should be:
[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

In [ ]:
l = []
while True:
    temp = input()
    if temp=="":
        break
    l.append(tuple(temp.split(",")))
l.sort()
print(l)

# Question 20:
Define a class with a generator which can iterate the numbers, which are divisible by 7, between a given range 0 and n.

# Question 21:
A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps. The trace of robot movement is shown as the following:
UP 5
DOWN 3
LEFT 3
RIGHT 2
¡­
The numbers after the direction are steps. Please write a program to compute the distance from current position after a sequence of movement and original point. If the distance is a float, then just print the nearest integer.
Example:
If the following tuples are given as input to the program:
UP 5
DOWN 3
LEFT 3
RIGHT 2
Then, the output of the program should be:
2

In [6]:
import math
x = 0
y = 0
while True:
    temp = input()
    if temp=="":
        break
    temp= temp.split()
    if temp[0].lower()=="up":
        x+=int(temp[1])
    elif temp[0].lower()=="down":
        x-=int(temp[1])
    elif temp[0].lower()=="left":
        y-=int(temp[1])
    elif temp[0].lower()=="right":
        y+=int(temp[1])

print(round(math.sqrt((x)**2+(y)**2)))

up 5
down 3
left 3
right 2

2

# Question 22:
Write a program to compute the frequency of the words from the input. The output should output after sorting the key alphanumerically. 
Suppose the following input is supplied to the program:
New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.
Then, the output should be:
2:2
3.:1
3?:1
New:1
Python:5
Read:1
and:1
between:1
choosing:1
or:2
to:1

In [13]:
d = {}
i = input().split()
for x in i:
    if x in d.keys():
        d[x]=d[x]+1
    else:
        d[x]=1

temp = [print(x+":"+str(d[x])) for x in sorted(d)]

New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.
2:2
3.:1
3?:1
New:1
Python:5
Read:1
and:1
between:1
choosing:1
or:2
to:1

# Question 23:
    Write a method which can calculate square value of number

In [14]:
def sqr(num):
    return num**2
print(sqr(2))
print(sqr(3))

4
9

# Question 24:
    Python has many built-in functions, and if you do not know how to use it, you can read document online or find some books. But Python has a built-in document function for every built-in functions.
    Please write a program to print some Python built-in functions documents, such as abs(), int(), raw_input()
    And add document for your own function

In [15]:
print(math.sqrt.__doc__)
def example():
    """this method returns int 2"""
    return 2;
print(example.__doc__)

sqrt(x)

Return the square root of x.
this method returns int 2

# Question 25:
    Define a class, which have a class parameter and have a same instance parameter.

# Question 26:
Define a function which can compute the sum of two numbers

In [18]:
def add(a,b):
    return int(a)+int(b)
print(add(1,2))

3

# Question 27:
Define a function that can convert a integer into a string and print it in console.

In [19]:
def int_to_str(num):
    print(str(num))
int_to_str("23")

23

# Question 28:
Define a function that can receive two integral numbers in string form and compute their sum and then print it in console.

In [20]:
def add(a,b):
    print(int(a)+int(b))
add("1","2")

3

# Question 29:
Define a function that can accept two strings as input and concatenate them and then print it in console.

In [1]:
def concat(a,b):
    print(a+b)
concat("hello ","world")

hello world

# Question 30:
Define a function that can accept two strings as input and print the string with maximum length in console. If two strings have the same length, then the function should print al l strings line by line.

In [2]:
def abc(a,b):
    if(len(a)>len(b)):
        print(a)
    elif(len(b)>len(a)):
        print(b)
    else:
        print(a)
        print(b)
abc("one","two")

one
two

# Question 31:
Define a function that can accept an integer number as input and print the "It is an even number" if the number is even, otherwise print "It is an odd number".

In [3]:
def abc(num):
    if(int(num)%2)==0:
        print("It is an even number")
    else:
        print("It is an odd number")
abc(4)
abc(5)

It is an even number
It is an odd number

# Question 32:
Define a function which can print a dictionary where the keys are numbers between 1 and 3 (both included) and the values are square of keys.

In [4]:
def abc():
    d = {x:x**2 for x in range(1,3+1)}
    print(d)
abc()

{1: 1, 2: 4, 3: 9}

# Question 33:
Define a function which can print a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys.

In [5]:
def abc():
    d = {x:x**2 for x in range(1,20+1)}
    print(d)
abc()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

# Question 34:
Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the values only.

In [6]:
def abc():
    d = {x:x**2 for x in range(1,20+1)}
    print(d.values())
abc()

dict_values([1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400])

# Question 35:
Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the keys only.

In [7]:
def abc():
    d = {x:x**2 for x in range(1,20+1)}
    print(d.keys())
abc()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

# Question 36:
Define a function which can generate and print a list where the values are square of numbers between 1 and 20 (both included).

In [8]:
def abc():
    l = [x**2 for x in range(1,20+1)]
    print(l)
abc()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

# Question 37:
Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print the first 5 elements in the list.

In [9]:
def abc():
    l = [x**2 for x in range(1,20+1)]
    for x in range(5):
        print(l[x])
abc()

1
4
9
16
25

# Question 38:
Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print the last 5 elements in the list.

In [10]:
def abc():
    l = [x**2 for x in range(1,20+1)]
    print(l[-5:])
abc()

[256, 289, 324, 361, 400]

# Question 39:
Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print all values except the first 5 elements in the list.

In [11]:
def abc():
    l = [x**2 for x in range(1,20+1)]
    print(l[5:])
abc()

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

# Question 40:
Define a function which can generate and print a tuple where the value are square of numbers between 1 and 20 (both included).

In [13]:
def abc():
    l = [x**2 for x in range(1,20+1)]
    t = tuple(l)
    print(t)
abc()

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

# Question 41:
With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [16]:
t = (1,2,3,4,5,6,7,8,9,10)
print(t[:round(len(t)/2)])
print(t[round(len(t)/2):])

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

# Question 42:
Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10).

In [20]:
t1 = (1,2,3,4,5,6,7,8,9,10)
t2 = tuple([x for x in t1 if x%2==0])
print(t2)

(2, 4, 6, 8, 10)